# Dictionary creation

In [1]:
empty = {}
print(empty)

{}

In [2]:
simple = {1:2}
print(simple)

{1: 2}

In [3]:
squares = {1:1,2:4,3:9,4:16}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16}

In [4]:
cipher = {'p':'o','y':'h','t':'n','h':'t','o':'y','n':'p'}
print(cipher)

{'p': 'o', 'y': 'h', 't': 'n', 'h': 't', 'o': 'y', 'n': 'p'}

In [5]:
goodinstructors = {'Rixner':True,'Warren':False}
print(goodinstructors)

{'Rixner': True, 'Warren': False}

In [6]:
cities = {'China':['Shanghai','Beijing'],
         'USA':['New York','Los Angeles'],
         'Spain':['Madrid','Barcelona'],
         'Australia':['Sydney','Melbourne'],
         'Texas':['Houston','San Antonio']}
print(cities)

{'China': ['Shanghai', 'Beijing'], 'USA': ['New York', 'Los Angeles'], 'Spain': ['Madrid', 'Barcelona'], 'Australia': ['Sydney', 'Melbourne'], 'Texas': ['Houston', 'San Antonio']}

# Creating Dictionaries

In [7]:
empty2 = dict()
print(empty2)

{}

In [8]:
data = [(1,'one'),(2,'two'),(3,'three')]
names = dict(data)
print(names)

{1: 'one', 2: 'two', 3: 'three'}

In [9]:
cipher2 = dict(cipher)
print(cipher2)

{'p': 'o', 'y': 'h', 't': 'n', 'h': 't', 'o': 'y', 'n': 'p'}

# Dictionary Lookup and Update

In [10]:
# Dictionary Lookup
cipher = cipher = {'p':'o','y':'h','t':'n','h':'t','o':'y','n':'p'}
print(cipher)

{'p': 'o', 'y': 'h', 't': 'n', 'h': 't', 'o': 'y', 'n': 'p'}

In [11]:
# use indexing with keys to access values
print(cipher['t'])
print(cipher['n'])

n
p

In [12]:
def encrypt(cipher,word):
    """encrypt word using cypher"""
    encrypted = ""
    for char in word:
        encrypted += cipher[char]
    return encrypted

In [13]:
python = 'python'
enc = encrypt(cipher,python)
print(python,':', enc)

python : ohntyp

In [14]:
# It is an error to use a non-existent key
# print(cipher[1])

In [15]:
# use .get when you are unsure if the key exists
print(cipher.get('t'))
print(cipher.get(1))
print(cipher.get(1,'z'))

n
None
z

In [16]:
# Dictionary Update
print(cipher)

{'p': 'o', 'y': 'h', 't': 'n', 'h': 't', 'o': 'y', 'n': 'p'}

In [17]:
# Modify an existing key -> value mapping
cipher['p'] = 'q'
print(cipher)

{'p': 'q', 'y': 'h', 't': 'n', 'h': 't', 'o': 'y', 'n': 'p'}

In [18]:
# Create a new key value mapping
cipher['r'] = 'z'
print(cipher)

{'p': 'q', 'y': 'h', 't': 'n', 'h': 't', 'o': 'y', 'n': 'p', 'r': 'z'}

In [19]:
enc2 = encrypt(cipher,python)
print(python, enc, enc2)

python ohntyp qhntyp

# Checking for keys in a dictionary

In [20]:
# using in
mapping = {1: 5, 8: -3, 7: 22, 4: 13, 22: 17}

In [21]:
# keys
print(1 in mapping)
print(8 in mapping)

True
True

In [22]:
# values
print(5 in mapping)
print(-3 in mapping)

False
False

In [23]:
# Both
print(22 in mapping)

True

In [24]:
# Neither
print(82 in mapping)

False

# Protecting from Errors

In [25]:
keys = [8, 14, 22, 25]
mapping = {1: 5, 8: -3, 7: 22, 4: 13, 22: 17}

In [26]:
# for key in keys
# print(key, mapping[key])

In [27]:
for key in keys:
    if key in mapping:
        print(key, mapping[key])
    else:
        print(f"{key} not in mapping")

8 -3
14 not in mapping
22 17
25 not in mapping

#  Issues with Keys

In [28]:
mapping = {4.0:2, 'a':3, True: 'true',False:9}
print(mapping)

{4.0: 2, 'a': 3, True: 'true', False: 9}

In [29]:
mapping[1] = 7
print(mapping)

{4.0: 2, 'a': 3, True: 7, False: 9}

In [30]:
mapping[0] = 'false'
print(mapping)

{4.0: 2, 'a': 3, True: 7, False: 'false'}

In [31]:
mapping[4] = 7
print(mapping)

{4.0: 7, 'a': 3, True: 7, False: 'false'}

In [32]:
mapping['A'] = 'abc'
print(mapping)

{4.0: 7, 'a': 3, True: 7, False: 'false', 'A': 'abc'}

# Dictionary Structure

In [33]:
contacts = {'Scott Rixner': '1-101-555-1234',
            'Joe Warren': '1-102-555-5678',
            'Jane Doe': '1-103-555-9012'}

In [34]:
# Value Lookup
def lookup(contacts, name):
    """
    Lookup name in contacts and return phone number.
    If name is not in contacts, return an empty string.
    """
    if name in contacts:
        return contacts[name]
    else:
        return ""

In [35]:
l = lookup(contacts,'Scott Rixner')
print(l)

1-101-555-1234

In [36]:
def lookup2(contacts, name):
    """
    Lookup name in contacts and return phone number.
    If name is not in contact, return an empty string.
    """
    return contacts.get(name, "")

In [37]:
l2 = lookup2(contacts,'Jane Doe')
print(l2)

1-103-555-9012

In [38]:
l2 = lookup2(contacts,'Jane')
print(l2)

# Iteration

In [39]:
def print_contacts(contacts):
    """
    Print the names of the contacts in our contacts list.
    """
    for name in contacts:
        print(name)

In [40]:
p = print_contacts(contacts)
print(p)

Scott Rixner
Joe Warren
Jane Doe
None

In [41]:
def print_contact_list(contacts):
    """
    Print the names and phone numbers of the contacts in
    our contacts list.
    """
    for name, number in contacts.items():
        print(name, ":", number)

In [42]:
pcl = print_contact_list(contacts)
print(pcl)

Scott Rixner : 1-101-555-1234
Joe Warren : 1-102-555-5678
Jane Doe : 1-103-555-9012
None

# Order

In [43]:
def print_ordered(contacts):
    """
    Print the names and phone numbers of the contacts
    in our contacts list in alphabetical order.
    """
    keys = contacts.keys()
    names = sorted(keys)
    for name in names:
        print(name, ":", contacts[name])

In [44]:
po = print_ordered(contacts)
print(po)

Jane Doe : 1-103-555-9012
Joe Warren : 1-102-555-5678
Scott Rixner : 1-101-555-1234
None

# Update

In [45]:
def add_contact(contact, name, number):
    """
    Add a new contact (name, number) to the contacts list.
    """
    if name in contacts:
        print(name, "is already in contacts list!")
    else:
        contacts[name] = number

In [46]:
ac = add_contact(contacts,'Saleem', '1-103-555-9012')
print(ac)

None

In [47]:
print(contacts)

{'Scott Rixner': '1-101-555-1234', 'Joe Warren': '1-102-555-5678', 'Jane Doe': '1-103-555-9012', 'Saleem': '1-103-555-9012'}

In [48]:
def update_contact(contacts, name, newnumber):
    """
    Update an existing contact's number in the contacts list.
    """
    if name in contacts:
        contacts[name] = newnumber
    else:
        print(name, "is not in contacts list!")

In [49]:
up = update_contact(contacts,'Jane Doe', '54-103-555-9012')
print(up)

None

In [50]:
print(contacts)

{'Scott Rixner': '1-101-555-1234', 'Joe Warren': '1-102-555-5678', 'Jane Doe': '54-103-555-9012', 'Saleem': '1-103-555-9012'}

In [51]:
def add_or_update_contact(contacts, name, number):
    """
    Add contact or update it if it is already in the contacts list.
    """
    contacts[name] = number

In [52]:
auc = add_or_update_contact(contacts,'Qurat', '8-564-345-9876')
print(auc)

None

In [53]:
auc1 = add_or_update_contact(contacts,'Jane Doe', '54-103-555-9012')
print(auc1)

None

In [54]:
print(contacts)

{'Scott Rixner': '1-101-555-1234', 'Joe Warren': '1-102-555-5678', 'Jane Doe': '54-103-555-9012', 'Saleem': '1-103-555-9012', 'Qurat': '8-564-345-9876'}

# Handling Dictionary Errors

In [55]:
simple_dict = {"Joe":1,"Scott":2,"John":3}
print(simple_dict)

{'Joe': 1, 'Scott': 2, 'John': 3}

In [56]:
# bad_dict = {["Joe","Warren"]:1,["Scott","Rixner"]:2,["John","Greiner"]:3}
# print(bad_dict)

In [57]:
good_dict = {("Joe","Warren"):1,("Scott","Rixner"):2,("John","Greiner"):3}
print(good_dict)

{('Joe', 'Warren'): 1, ('Scott', 'Rixner'): 2, ('John', 'Greiner'): 3}

In [58]:
print(simple_dict["Joe"])
print(simple_dict["Scott"])
# print(simple_dict["Stephen"])

1
2

In [59]:
print(good_dict[("Joe","Warren")])
print(good_dict[("John","Greiner")])

1
3

In [60]:
def lookup(my_dict, my_key, default_value):
    """
    Given dictionary my_dict and key my_key,
    return my dict[my_key] if my key is in my_dict
    otherwise return default_value
    """
    if my_key in my_dict:
        return my_dict[my_key]
    else:
        return default_value

In [61]:
dictionary = {"Student":"Sana","Class":"Intermediate","Age":"Young"}
l = lookup(dictionary,"Condition",-2)
print(l)

-2

In [62]:
simple_dict = {"Joe":1,"Scott":2,"John":3}
print(lookup(simple_dict,"Joe",-1))
print(lookup(simple_dict,"Stephen",-1))

1
-1

In [63]:
simple_dict = {"Joe":1,"Scott":2,"John":3}
print(simple_dict.get("Joe", -1))
print(simple_dict.get("Stephen", -1))
print(simple_dict.get("Stephen"))

1
-1
None

# Iterating over dictionaries

In [64]:
# Mapping from various cities to their country
capitals = {
    'USA':'Washington, D.C',
    'China':'Beijing',
    'France':'Paris',
    'England':'London',
    'Italy':'Rome',
    'Russia':'Moscow',
    'Australia':'Canberra',
    'Peru':'Lima',
    'Japan':'Tokyo'
}
print(capitals)

{'USA': 'Washington, D.C', 'China': 'Beijing', 'France': 'Paris', 'England': 'London', 'Italy': 'Rome', 'Russia': 'Moscow', 'Australia': 'Canberra', 'Peru': 'Lima', 'Japan': 'Tokyo'}

# Direct Iteration

In [65]:
for country in capitals:
    print(f"{capitals[country]},{country}")
print("")

Washington, D.C,USA
Beijing,China
Paris,France
London,England
Rome,Italy
Moscow,Russia
Canberra,Australia
Lima,Peru
Tokyo,Japan

# Iteration Over Keys

In [66]:
for country in capitals.keys():
    print(f"{capitals[country]},{country}")
print("")

Washington, D.C,USA
Beijing,China
Paris,France
London,England
Rome,Italy
Moscow,Russia
Canberra,Australia
Lima,Peru
Tokyo,Japan

# Iteration Over Values

In [67]:
for city in capitals.values():
    print(f"Capital city: {city}")
print("")

Capital city: Washington, D.C
Capital city: Beijing
Capital city: Paris
Capital city: London
Capital city: Rome
Capital city: Moscow
Capital city: Canberra
Capital city: Lima
Capital city: Tokyo

# Iteration Over Items

In [68]:
for country, city in capitals.items():
    print(f"{city}, {country}")
print("")

Washington, D.C, USA
Beijing, China
Paris, France
London, England
Rome, Italy
Moscow, Russia
Canberra, Australia
Lima, Peru
Tokyo, Japan

# Checking Membership

In [69]:
print('England' in capitals)
print('Lima' in capitals)

True
False

In [70]:
print('Moscow' in capitals.keys())
print('Italy' in capitals.keys())

False
True

In [71]:
print('Houston' in capitals.values())
print('Beijing' in capitals.values())

False
True

# Displaying Dictionaries

In [89]:
NAME_DICT = {'Warren':'Joe','Rixner':'Scott','Greiner':'John'}

In [80]:
def run_dict_methods():
    """
    Run some simple examples of calls to dictionary methods
    """
#     Note that these methods return  an iterable object (simple)
    print(NAME_DICT.keys())
    print(NAME_DICT.values())
    print(NAME_DICT.items())
    print()
#     These objects can be converted to lists
    print(list(NAME_DICT.keys()))
    print(list(NAME_DICT.values()))
    print(list(NAME_DICT.items()))

In [81]:
run_dict_methods()

dict_keys(['Warren', 'Rixner', 'Greiner'])
dict_values(['Joe', 'Scott', 'John'])
dict_items([('Warren', 'Joe'), ('Rixner', 'Scott'), ('Greiner', 'John')])

['Warren', 'Rixner', 'Greiner']
['Joe', 'Scott', 'John']
[('Warren', 'Joe'), ('Rixner', 'Scott'), ('Greiner', 'John')]

In [90]:
def print_dict_keys(my_dict):
    """
    Print the contents of a dictionary to the console
    in a readable form using the keys() method
    """
    print(f"Printing dictionary {my_dict} in readable form")
    for key in my_dict: #note my_dict.keys() works here too
        print(f"Key = {key} has value = {my_dict[key]}")

In [92]:
my_dic = {'name':'sana','class':'intermediate','level':'three',"age":14}
print_dict_keys(my_dic)

Printing dictionary {'name': 'sana', 'class': 'intermediate', 'level': 'three', 'age': 14} in readable form
Key = name has value = sana
Key = class has value = intermediate
Key = level has value = three
Key = age has value = 14

In [91]:
def print_dict_items(my_dict):
    """
    Print the contents of a dictionary to the console
    in a readable form using the items() method
    """
    print(f"Printing dictionary {my_dict} in readable form")
    for (key, value) in my_dict.items():
        print(f"Key = {key} has value = {value}")

In [93]:
print_dict_items(my_dic)

Printing dictionary {'name': 'sana', 'class': 'intermediate', 'level': 'three', 'age': 14} in readable form
Key = name has value = sana
Key = class has value = intermediate
Key = level has value = three
Key = age has value = 14

In [94]:
def run_print_dict_examples():
    """
    Run some examples of printing dictionaries to the console
    """
    print()
    print_dict_keys(NAME_DICT)
    print()
    print_dict_items(NAME_DICT)

In [95]:
run_print_dict_examples()

Printing dictionary {'Warren': 'Joe', 'Rixner': 'Scott', 'Greiner': 'John'} in readable form
Key = Warren has value = Joe
Key = Rixner has value = Scott
Key = Greiner has value = John

Printing dictionary {'Warren': 'Joe', 'Rixner': 'Scott', 'Greiner': 'John'} in readable form
Key = Warren has value = Joe
Key = Rixner has value = Scott
Key = Greiner has value = John